body {
    background-color: #333333;
    color: #e0e0e0;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    padding: 0;
}

#title p {
    text-align: center;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

.pink-text {
    color: #e050a0;
}
